:root{
  --main-blue: #3B60E4;
  --light-grey: #e5e5e5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.profile-page-cont{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 3;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  background-color: white;
  flex-direction: column;
  overflow-y: hidden;
}

.profile-page-header{
  width: 100%;
  height: 40px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-back-arrow-icon{
  cursor: pointer;
  position: absolute;
  left: 0;
}

.profile-header-title{
  font-size: 25px;
  font-weight: bold;
  margin: auto;
}

.profile-img-cont{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.profile-img{
  border: 2px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.profile-content{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.profile-user-name{
  font-weight: bold;
}
.profile-joined-date{
  font-size: 14px;
  color: grey;
}

.logout-btn-cont{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.logout-btn{
  width: 100px;
  font-weight: bold;
  border: 2px solid red;
  text-align: center;
  border-radius: 1.5rem;
  color: red;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  background-color: white;
}